*, *:before, *:after {
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;
}
.logo img{
    width: 130px;
    height: 54px;
    margin-left: 30px;
}
.main {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    align-items: center;
    min-height: 500px;
    background: url(menu.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    align-content: center; 
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: white;
}
.menu {
    width: 60%;
}
.menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.menu-link{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}
.main-text{
    position: relative;
    text-align: center;
    font-size: 25px;
}
.main-text h1::after {
    content: '';
    width: 25px;
    height: 3px;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.main-text h1::before {
    content: '';
    width: 25px;
    height: 3px;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.second-part{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 7vh;
    background-color: white;
    justify-content: center;
}
.sub-menu{
    width: 30%;
    height: 40px;
    background-color: white;
    vertical-align: middle;
}
.sub-menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 15px;
}
.menu-link{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}
.goods{
    width: 100%;
    height: 1000px;
    background-color: white;
    display: flex;
    justify-content: space-between;  
    flex-wrap: wrap;
    margin: 15px;
    flex-direction: row;
    align-items: stretch;
}


.goods ul{
    list-style: none;
    margin-bottom: 15px;
}
.goods img{ 
    width: 300px;
    height: 300px;
}
.item{
    flex: 33%;
    margin: 5px;
    padding:50px 20px; 
    text-align:center; 
}
